*{
	box-sizing:border-box;
}


body {
  background-image: url("images/fondo_paginas.png");
 
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.section-header 
{
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
  margin-bottom: 30px;
  font: 300 3rem 'Lato', sans-serif;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: whitesmoke;
}


.section-header-underline
 {
  border: 1px solid whitesmoke;
  width: 20rem;
  margin: 0 auto;
  margin-bottom: 20px;
  
  
}

.renders
{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	

}
div.gallery
 {
    margin:50px;
    float: left;
    width: 525px;
	height: 400px;
	margin-top: 150px;
	opacity: 0.5;
	background-color: whitesmoke;
}

div.gallery:hover 
{
    border: 1px solid #777;
	opacity: 1;
	transition: 1s all ease;
	
}

div.gallery img {
    width: 100%;
    height: auto;
}



#BotonVolver
{
 top:900px;
 right:150px;
 width: 300px;
 height: 50px;
 display: flex;
 position: fixed;
 
 
}

#TextoBoton
{
	font-family:courier New;	
	font-size: 30px;	
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	color: whitesmoke;
	border: 1px solid whitesmoke;
}