*{
	box-sizing:border-box;
}


body 
{
	background-image: url("images/fondo_sobreMi.jpg");
 
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

#Intro

{
	background-color: whitesmoke;
	color: white;
	width:800px;
	height:800px;
	margin: auto;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	display: block;
	opacity: 0.9;
	border-radius: 50%;

}

.centrado
{
	position: absolute;
    left:50%;
    top:40%;
    transform: translate(-50%, -50%);
	color: rgba(0,0,0,1);
	opacity: 1;
	margin: 0;
}


#descripcion

{	
	width: 500px;
	position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
	text-align: center;
	color :black;
	margin: 0;
	z-index: 4;
	color: rgba(0,0,0,1);
	margin: 0;

}

#BotonVolver
{
 top:900px;
 right:150px;
 width: 300px;
 height: 50px;
 display: flex;
 position: fixed;
}

#TextoBoton
{
	font-family:courier New;	
	font-size: 30px;	
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	color: whitesmoke;
}



